body {
    background: green;
}
#div1 {
    background: red;
    width: 200px;
    height: 100px;
}
#div2 {
    background: blue;
    width: 100px;
    height: 200px;
}
.absolute {
    position: absolute;
    top: 20px;
    left: 20px;
}
.relative {
    position: relative;
    top: 20px;
    left: 20px;
}